.body{
    background-color: powderblue;
    font-family: Poppins;

}
.heading{
    background-color: black;
    color:white;
}

h2{
    color:orange;
}

.list{
    list-style-type: none;
}
table,th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }

th,td {
        padding: 5px;
      }
th {
        text-align: left;
      }